<h2>タグの作成</h2>
<%= form_with(url: "/admin/tag/create",model: @tag) do |f| %>
	<p>タグ名</p>
	<%= f.text_field :name %>
	<%= f.submit "作成" %>
<% end %>

<h2>タグ一覧</h2>
<% @tags.each do |tag| %>
	<%= form_tag "/admin/tag/#{tag.id}/delete",onSubmit: "return check()" do %>
		<%= tag.name %>
		<input type="submit" value="削除">
	<% end %>
	<br>
<% end %>

<script>
	function check(){
		if(window.confirm('タグを削除してよろしいですか？')){
			return true;
		}
		else{
			window.alert('キャンセルされました');
			return false;
		}
	}
</script>