<div class="text-center user_edit">
	<h1>登録情報の編集</h1>
	<%= form_with(url:"/admin/user/#{@user.id}/update",model: @user,method: "POST") do |f| %>
		<p>名前</p>
		<%= f.text_field :name, class: "name" %>
		<p>プロフィール画像</p>
		<%= f.file_field :image, class: "image" %>
		<p>内容</p>
		<%= f.text_area :content,class:"textarea" %>
		<p>メールアドレス</p>
		<p><%= f.text_field :email, class: "email" %></p>
		<p><%= f.submit "変更" %></p>
	<% end %>
</div>
