<h1>管理者タグ</h1>
<%= link_to "新規投稿", "/admin/post/new" %>
<%= link_to "ログイン","/admin/login_form" %>

<h1>投稿一覧</h1>

<% @posts.each do |post| %>
	<div class="post_container">
		<%= link_to(post.title,"/post/#{post.id}/detail") %>
		<% if @current_user %>
			<%= form_tag "/admin/post/#{post.id}/delete",onSubmit: "return check()" do %>
				<input type="submit" value="削除">
			<% end %>
			<%= link_to "編集","/admin/post/#{post.id}/edit" %>
		<% end %>
	</div>
	<br>
<% end %>

<script>
function check(){
	if(window.confirm('送信してよろしいですか？')){
		return true;
	}
	else{
		window.alert('キャンセルされました');
		return false;
	}
}
	// var test = "# h1 $ \\alpha$";
	// document.getElementById('test4').innerHTML = marked(test);
	// メモ
	// 数式を書くときは"$$"で囲む
	// fracなどを使用したい時は　\\ を頭に書く(通常のtexと違い2回必要)
</script>