<div class="flex_parent">
	<div class="main_contents">
		<p id="m_plus_rounded_1c" class="post_index">投稿一覧</p>
		<% @posts.each do |post| %>
			<div class="post_container">
				<%= link_to(post.title,"/post/#{post.id}/detail",{class: "post_title",id: 'm_plus_rounded_1c'}) %>
				<div class="tag_area">
					<i class="fas fa-tags"></i>
					<% @tags = PostAndTag.where(post_id:post.id) %>
					<% @tags.each do |t| %>
						<% @get_tag = Tag.find_by(id: t.tag_id) %>
						<%= link_to @get_tag.name,"/tag/#{@get_tag.id}/index" %>
					<% end %>
				</div>
				<p class="created_at">最終更新日:<%= post.updated_at.to_s(:datetime_jp) %></p>
			</div>
		<% end %>
	</div>

	<div class="right_container">
		<div class="auther_container">
			<p class="text-center"><%= image_tag "#{@user.image}",{class: "user_image"} %></p>
			<p>author:<%= @user.name %></p>
			<p class="user_content"><%= @user.content %></p>
			<div class="text-center">
				<%= link_to("","https://twitter.com/atsu5566_e",{class: "fab fa-twitter",target: :_blank,rel: "noopener noreferrer"}) %>
				<%= link_to("","https://github.com/Atsushi1130",{class: "fab fa-github",target: :_blank,rel: "noopener noreferrer"}) %>
			</div>
			<p>contact</p>
			<p><%= @user.email %></p>
			<p>管理者タグ</p>
			<% if @current_user %>
				<p><%= link_to "新規投稿", "/admin/post/new" %></p>
				<p><%= link_to "登録情報の編集","/admin/user/#{@user.id}/edit" %></p>
				<p><%= link_to "タグの管理","/admin/tag/mng" %></p>
			<% else %>
				<p><%= link_to "ログイン","/admin/login_form" %></p>
			<% end %>
		</div>

		<div class="tag_select_container">
			<div class="text-center">
				<p class="tag_select_mes">タグから探す</p>
				<% @get_tags.each do |tag| %>
					<p><%= link_to tag.name,"/tag/#{tag.id}/index" %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	// var test = "# h1 $ \\alpha$";
	// document.getElementById('test4').innerHTML = marked(test);
	// メモ
	// 数式を書くときは"$$"で囲む
	// fracなどを使用したい時は　\\ を頭に書く(通常のtexと違い2回必要)
</script>