<div id="form">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <h2 class="form-title">管理者Log in</h2>
  <%= form_with(url:"/home/login",model: @user) do |f| %>
    <p>メールアドレス</p>
    <%= f.text_field :email %>
    <p>パスワード</p>
    <%= f.text_field :password %>
    <p class="submit"><%= f.submit "log in" %></p>
  <% end %>
</div>
