<div class="flex_parent">
	<div class="main_contents">
		<div class="privacy_area">
			<p>1.基本方針</p>
			<p>当サイトは、個人情報の重要性を認識し、個人情報を保護することが社会的責務であると考え、個人情報に関する法令を遵守し、当サイトで取扱う個人情報の取得、利用、管理を適正に行います。当サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。</p>
			<br>
			<p>2.適用範囲</p>
			<p>本プライバシーポリシーは、当サイトにおいてのみ適用されます。</p>
			<br>
			<p>3.個人情報の取得と利用目的</p>
			<p>当サイトで取得する訪問者の個人情報と利用目的、保存期間等は下記の通りです。</p>
			<br>
			<p>3.1 コメントを残した際に個人情報を取得します</p>
			<p>当サイトでは、訪問者が当サイトにコメントを残した際に、以下の個人情報を取得します。</p>
			<p>・コメントフォームに表示されている名前</p>
			<p>・コメントフォームに表示されているコメント内容</p>
			<p>	・IPアドレス</p>
			<p>・ブラウザユーザーエージェント文字列</p>
			<br>
			<p>3-1-1. 利用目的について</p>
			<p>荒し対策やスパム検出に役立てるためと、訪問者の利便性のためです。また、当サイト内で「訪問者からこのようなコメントがありました」と紹介させていただく場合もあります。</p>
			<br>
			<p>3-2. お問い合せされた個人情報を取得します</p>
			<p>当サイトではお問い合わせフォームを設けています。</p>
			<p>訪問者がそのお問い合わせフォームから問い合わせをされた際に入力された、以下の個人情報を取得します。</p>
			<p>・お問い合わせフォームに入力された名前</p>
			<p>・お問い合わせフォームに入力されたメールアドレス</p>
			<p>・お問い合わせフォームに入力されたお問合せ内容</p>
			<br>
			<p>3-2-1. 利用目的について</p>
			<p>お問い合わせ対応をするためと、訪問者の管理のためです。訪問者からのお問い合わせ情報を保存しておくことによって、同じ訪問者が別のお問い合わせをした際に、過去の問い合わせ内容を踏まえた対応をすることが出来、より的確な対応をすることが出来ます。</p>
			<br>
			<p>3-2-2. Cookieによる個人情報の取得</p>
			<p>当サイトは、訪問者のコンピュータにCookieを送信することがあります。</p>
			<p>Cookie（クッキー）とは、ウェブサイトを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、訪問者のコンピュータにファイルとして保存しておく仕組みです。</p>
			<br>
			<p>3-3-1. 利用目的について</p>
			<p>訪問者の当サイト閲覧時の利便性を高めるためです。</p>
			<br>
			<p>3-3-2. 第三者によるCookie情報の取得について</p>
			<p>当サイトでは、グーグル株式会社やヤフー株式会社などをはじめとする第三者から配信される広告が掲載される場合があり、これに関連して当該第三者が訪問者のCookie情報等を取得して、利用している場合があります。</p>
			<p>当該第三者によって取得されたCookie情報等は、当該第三者のプライバシーポリシーに従って取り扱われます。</p>
			<br>
			<p>3-3-3. 第三者へのCooke情報等の広告配信の利用停止について</p>
			<p>訪問者は、当該第三者のウェブサイト内に設けられたオプトアウト（個人情報を第三者に提供することを停止すること）ページにアクセスして、当該第三者によるCookie情報等の広告配信への利用を停止することができます。</p>
			<br>
			<p>3-3-4. Cookie情報の送受信の許可・拒否について</p>
			<p>訪問者は、Cookieの送受信に関する設定を「すべてのCookieを許可する」、「すべてのCookieを拒否する」、「Cookieを受信したらユーザーに通知する」などから選択できます。設定方法は、ブラウザにより異なります。Cookieに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。</p>
			<p>すべてのCookieを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</p>
			<br>
			<p>4. 個人情報の管理</p>
			<p>当サイトは、訪問者からご提供いただいた情報の管理について、以下を徹底します。</p>
			<br>
			<p>4-1. 情報の正確性の確保</p>
			<p>訪問者からご提供いただいた情報については、常に正確かつ最新の情報となるよう努めます。</p>
			<br>
			<p>4-2.  安全管理措置</p>
			<p>当サイトは、個人情報の漏えいや滅失又は棄損を防止するために、適切なセキリュティ対策を実施して個人情報を保護します。</p>
			<br>
			<p>4-3. 個人情報の廃棄</p>
			<p>個人情報が不要となった場合には、すみやかに廃棄します。</p>
			<br>
			<p>5. 個人情報の第三者への提供について</p>
			<p>当サイトは、訪問者からご提供いただいた個人情報を、訪問者本人の同意を得ることなく第三者に提供することはありません。また、今後第三者提供を行うことになった場合には、提供する情報と提供目的などを提示し、訪問者から同意を得た場合のみ第三者提供を行います。</p>
			<br>
			<p>6. 未成年の個人情報について</p>
			<p>未成年者が当サイトにコメントをしたり、お問い合わせフォームから問い合わせをされたりする場合は必ず親権者の同意を得るものとし、コメントやお問い合わせをされた時点で、当プライバシーポリシーに対して親権者の同意があるものとみなします。</p>
			<br>
			<p>7. お問い合わせ先</p>
			<p>当サイト、又は個人情報の取扱いに関しては、お問い合わせフォームよりご連絡ください。</p>
			<br>
			<p>8. アクセス解析ツールについて</p>
			<p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
			<p>このGoogleアナリティクスはアクセス情報の収集のためにCookieを使用しています。このアクセス情報は匿名で収集されており、個人を特定するものではありません。</p>
			<p>GoogleアナリティクスのCookieは、26ヶ月間保持されます。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
			<br>
			<p>9. 第三者配信の広告サービスについて</p>
			<p>当サイトは、第三者配信の広告サービス「Google Adsense（グーグルアドセンス）」を利用しています。</p>
			<p>Googleなどの第三者広告配信事業者は、訪問者の興味に応じた広告を表示するために、Cookie（当サイトの訪問者が当サイトや他のサイトにアクセスした際の情報など）を使用することがあります。</p>
			<p>第三者配信による広告掲載を無効にしていない場合は、第三者配信事業者や広告ネットワークの配信する広告がサイトに掲載されることがあります。</p>
			<br>
			<p>10. プライバシーポリシーの変更について</p>
			<p>当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直しその改善に努めます。修正された最新のプライバシーポリシーは常に本ページにて開示されます。</p>
		</div>
	</div>

	<div class="right_container">
		<div class="auther_container">
			<p class="text-center"><%= image_tag "#{@user.image}",{class: "user_image"} %></p>
			<p>author:<%= @user.name %></p>
			<p class="user_content"><%= @user.content %></p>
			<div class="text-center">
				<%= link_to("","https://twitter.com/atsu5566_e",{class: "fab fa-twitter",target: :_blank,rel: "noopener noreferrer"}) %>
				<%= link_to("","https://github.com/Atsushi1130",{class: "fab fa-github",target: :_blank,rel: "noopener noreferrer"}) %>
			</div>
			<p>contact</p>
			<p><%= @user.email %></p>
			<p>管理者タグ</p>
			<% if @current_user %>
				<p><%= link_to "新規投稿", "/admin/post/new" %></p>
				<p><%= link_to "登録情報の編集","/admin/user/#{@user.id}/edit" %></p>
				<p><%= link_to "タグの管理","/admin/tag/mng" %></p>
			<% else %>
				<p><%= link_to "ログイン","/admin/login_form" %></p>
			<% end %>
		</div>

		<div class="tag_select_container">
			<div class="text-center">
				<p class="tag_select_mes">タグから探す</p>
				<% @get_tags.each do |tag| %>
					<p><%= link_to tag.name,"/tag/#{tag.id}/index" %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>